<div class="font-sans">
    <div class="relative min-h-screen bg-[#0A1232] ">
        <div class="bg-[#0A1232]">
            <h1 class="relative text-white text-5xl p-5"><b>Fin</b>Wise</h1>
        </div>
        <div class="relative flex flex-col sm:justify-center items-center bg-[#0A1232] h-full">
            <div class="relative sm:max-w-lg w-full h-full mt-10">
                <div class="relative w-full px-6 py-4">
                    <label for="" class="block mt-3 text-2xl text-white font-extrabold">
                        Iniciar sesión
                    </label>
                    <form [formGroup]="form()" action="#" class="mt-5">
                        <div class="input-group relative mb-9">
                            <input formControlName="email" type="text" name="text" autocomplete="off" class="input" >
                            <label class="user-label" >Correo electrónico</label>
                           
                            <div *ngIf="hasRequiredError('email')" class=" absolute flex items-center mt-1 text-sm text-red-600 " role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Correo electrónico requerido!</span>
                                </div>
                            </div>

                        </div>

                        <div class="input-group relative mb-9">
                            <input formControlName="password" type="password" name="text" autocomplete="off" class="input">
                            <label class="user-label">Contraseña</label>

                            <div *ngIf="hasRequiredError('password')" class=" absolute flex items-center mt-1 text-sm text-red-600 " role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Contraseña requerida!</span>
                                </div>
                            </div>

                        </div>
            
                        <div class="mt-7">
                            <button [disabled]="form().invalid" (click)="login()" class="bg-white w-full py-3 rounded text-[#0A1232] shadow-xl hover:shadow-inner focus:outline-none transition duration-300 ease-in-out font-semibold transform hover:-translate-x enabled:hover:scale-105 disabled:opacity-75 disabled:cursor-not-allowed" >
                                Ingresar
                            </button>
                        </div>
            
                        <div class="mt-7">
                            <div class="flex justify-center items-center">
                                <label class="mr-2 text-white" >¿Aun no tienes cuenta?</label>
                                <a href="#" class=" text-[#FF8682] transition duration-300 ease-in-out  transform hover:-translate-x hover:scale-105 font-semibold">
                                    Registrate!
                                </a>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  
