<div class="font-sans">
    <div class="relative min-h-screen bg-[#0A1232] ">
        <div class="bg-[#0A1232]">
            <h1 class="relative text-white text-5xl p-5"><b>Fin</b>Wise</h1>
        </div>
        <div class="relative flex flex-col sm:justify-center items-center bg-[#0A1232] ">
            <div class="relative sm:max-w-lg w-full">
                <div class="relative w-full px-6 py-4">
                    <label for="" class="block mt-3 text-2xl text-white font-extrabold">
                        Registrarse
                    </label>
                    <form [formGroup]="form()" action="#" class="mt-5">
                        <div class="flex flex-row">
                            <div class="input-group relative mb-5">
                                <div class="w-full">
                                    <input [ngClass]="{'error': hasRequiredError('name')}" formControlName="name" type="text" name="text" autocomplete="off" class="input">
                                    <label class="user-label">Nombre</label>
                                </div>

                                <div *ngIf="hasRequiredError('name')" class="absolute top-5 end-0 text-sm text-red-600" role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <title>Nombre requerido!</title>
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                    </svg>
                                </div>

                            </div>
                            <div class="p-1"></div>
                            <div class="input-group relative mb-5">
                                <div class="w-full">
                                    <input [ngClass]="{'error': hasRequiredError('lastname')}" formControlName="lastname" type="text" name="text" autocomplete="off" class="input">
                                    <label class="user-label">Apellido</label>
                                </div>
                                <div *ngIf="hasRequiredError('lastname')" class="absolute top-5 end-0 text-sm text-red-600" role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <title>Apellido requerido!</title>
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                    </svg>
                                </div>

                            </div>
                        </div>

                        <div class="input-group flex flex-row relative mb-9">
                            <div class="w-full">
                                <input [ngClass]="{'error': checkEmail() !== ''}" formControlName="email" type="text" name="text" autocomplete="off" class="input" >
                                <label class="user-label " >Correo electrónico</label>
                            </div>
                            <div *ngIf="checkEmail()" class="absolute top-5 end-0 text-sm text-red-600 " role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <title>{{checkEmail()}}</title>
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                            </div>

                        </div>

                        <div class="input-group relative mb-9">
                            <div class="w-full">
                                <input [ngClass]="{'error': checkPassword() !== ''}" formControlName="password" type="password" name="text" autocomplete="off" class="input">
                                <label class="user-label">Contraseña</label>
                            </div>
                            <div *ngIf="checkPassword()" class="absolute top-5 end-0 text-sm text-red-600 " role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <title>{{checkPassword()}}</title>
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                            </div>
                        </div>
                        
                        <div class="input-group relative mb-5">
                            <div class="w-full">
                                <input [ngClass]="{'error': checkconfPassword() !== ''}"  formControlName="confPassword" type="password" name="text" autocomplete="off" class="input">
                                <label class="user-label">Confirmar contraseña</label>
                            </div>
                            <div *ngIf="checkconfPassword()" class="absolute top-5 end-0 text-sm text-red-600 " role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <title>{{checkconfPassword()}}</title>
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                            </div>
                        </div>
            
                        <div class="mt-7">
                            <button (click)="register()" [disabled]="form().invalid || checkconfPassword() !== ''" class="bg-white w-full py-3 rounded text-[#0A1232] shadow-xl hover:shadow-inner focus:outline-none transition duration-300 ease-in-out font-semibold transform hover:-translate-x hover:enabled:scale-105 disabled:opacity-75 disabled:cursor-not-allowed">
                                Ingresar
                            </button>
                        </div>
            
                    </form>
                    <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2 text-white" >¿Ya tienes cuenta?</label>
                            <a (click)="openLogin()" class="cursor-pointer text-[#FF8682] transition duration-300 ease-in-out  transform hover:-translate-x hover:scale-105 font-semibold">
                                Inicia sesión!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

