<div class="font-sans">
    <div class="relative min-h-screen bg-[#0A1232] ">
        <div class="bg-[#0A1232]">
            <h1 class="relative text-white text-5xl p-5"><b>Fin</b>Wise</h1>
        </div>
        <div class="relative flex flex-col sm:justify-center items-center bg-[#0A1232] ">
            <div class="relative sm:max-w-lg w-full">
                <div class="relative w-full px-6 py-4">
                    <label for="" class="block mt-3 text-2xl text-white font-extrabold">
                        Registrarse
                    </label>
                    <form method="#" action="#" class="mt-5">
                        <div class="flex flex-row">
                            <div class="input-group relative mb-5">
                                <input required="" type="text" name="text" autocomplete="off" class="input" [required]="true">
                                <label class="user-label">Nombre</label>
                            </div>
                            <div class="p-1"></div>
                            <div class="input-group relative mb-5">
                                <input required="" type="text" name="text" autocomplete="off" class="input" [required]="true">
                                <label class="user-label">Apellido</label>
                            </div>
                        </div>

                        <div class="input-group relative mb-5">
                            <input required="" type="text" name="text" autocomplete="off" class="input" [required]="true">
                            <label class="user-label">Correo electrónico</label>
                        </div>

                        <div class="input-group relative mb-5">
                            <input required="" type="password" name="text" autocomplete="off" class="input" [required]="true">
                            <label class="user-label">Contraseña</label>
                        </div>
                        
                        <div class="input-group relative mb-5">
                            <input required="" type="password" name="text" autocomplete="off" class="input" [required]="true">
                            <label class="user-label">Confirmar contraseña</label>
                        </div>
            
                        <div class="mt-7">
                            <button class="bg-white w-full py-3 rounded text-[#0A1232] shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out font-semibold transform hover:-translate-x hover:scale-105">
                                Ingresar
                            </button>
                        </div>
            
                        <div class="mt-7">
                            <div class="flex justify-center items-center">
                                <label class="mr-2 text-white" >¿Ya tienes cuenta?</label>
                                <a href="#" class=" text-[#FF8682] transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105 font-semibold">
                                    Inicia sesión!
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  

