<div
  class="group h-40 relative mb-5 border-2 border-white rounded-lg px-2 pb-2 flex"
>
  <label
    class="user-label font-semibold text-lg group-[.errorCategory]:text-[#C92628]"
    >Seleccione una categoría</label
  >

  <div class="flex w-full flex-wrap overflow-auto justify-start mt-[11px]">
    <div
      class="uno mt-3 flex w-full w-1/5 px-2"
      *ngFor="let category of categories"
    >
      <label
        class="cursor-pointer flex flex-col items-center break-all w-12 text-sm hover:scale-105 transition ease-in-out duration-500"
      >
        <input
          type="radio"
          name="categoryID"
          [value]="category.id"
          [checked]="category.id === categoryid"
          class="radio-input"
          (change)="selectCategory(category.id)"
        />
        <img
          [src]="category.image"
          [alt]="category.id"
          [class.selected]="categoryid === category.id"
          class="category-image w-12 h-12 rounded-full mt-2 border-[1px] border-[transparent]"
        />
        <p class="text-xs">{{ category.name }}</p>
      </label>
    </div>
  </div>
</div>
