<div
  class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-sm bg-black/10 animate-fade animate-duration-[600ms]"
>
  <div
    class="border-2 border-white fixed bg-[#0A1232] top-20 rounded-lg max-w-sm w-96 min-w-80 h-[33rem] overflow-auto animate-fade-down animate-duration-[400ms] animate-ease-in-out animate-normal animate-fill-backwards"
    (click)="$event.stopPropagation()"
  >
    <!-- TITULO Y SALIR -->
    <div
      class="sticky top-0 bg-[#0A1232] z-10 flex flex-row items-center justify-between py-2 px-4"
    >
      <div class="ml-1 h-full">
        <h2 class="text-2xl font-bold text-center text-white">
          Nuevo pago recurrente
        </h2>
      </div>
      <button
        class="transition transform ease-in-out duration-500 text-white text-3xl hover:text-red-600 hover:scale-110 font-bold"
        (click)="closeModal()"
      >
        ×
      </button>
    </div>

    <!-- FORMULARIO -->
    <form [formGroup]="form()" action="#" class="mt-2 overflow-auto pt-2 p-4">
      <!-- INPUT Name -->
      <div class="input-group relative mb-5">
        <div class="w-full">
          <span class="absolute top-3 left-2 text-white"></span>
          <input
            class="input"
            [ngClass]="{ error: checkMount() !== '' }"
            formControlName="name"
            type="text"
            step="0.01"
            min="0"
          />
          <label class="user-label font-semibold text-lg">Nombre</label>
        </div>

        <!-- MENSAJE ERROR -->
        <div
          *ngIf="checkMount() !== ''"
          class="absolute top-3 end-0 text-sm text-red-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-1 cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <title>{{ checkMount() }}</title>
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
        </div>
      </div>

      <!-- INPUT CATEGORIA -->
      <div
        [ngClass]="{
          errorCategory:
            this.form().get('categoryID')?.invalid &&
            this.form().get('categoryID')?.touched
        }"
        class="group h-40 relative mb-5 border-2 border-white rounded-lg px-2 pb-2 flex"
      >
        <label
          class="user-label font-semibold text-lg group-[.errorCategory]:text-[#C92628]"
          >Seleccione una categoría</label
        >

        <div
          class="flex w-full flex-wrap overflow-auto justify-start mt-[11px]"
        >
          <div
            class="uno mt-3 flex w-full w-1/5 px-2"
            *ngFor="let category of categories"
          >
            <label
              class="cursor-pointer flex flex-col items-center break-all w-12 text-sm hover:scale-105 transition ease-in-out duration-500"
            >
              <input
                type="radio"
                name="categoryID"
                [value]="category.id"
                formControlName="categoryID"
                class="radio-input"
              />
              <img
                [src]="category.image"
                [alt]="category.id"
                [class.selected]="
                  form().get('categoryID')?.value === category.id
                "
                class="category-image w-12 h-12 rounded-full mt-2 border-[1px] border-[transparent]"
              />
              {{ category.name }}
            </label>
          </div>
        </div>
      </div>

      <!-- INPUT MOUNT -->
      <div class="input-group relative mb-5">
        <div class="w-full">
          <span class="absolute top-3 left-2 text-white">$</span>
          <input
            class="input px-6 py-1"
            [ngClass]="{ error: checkMount() !== '' }"
            formControlName="amount"
            type="number"
            step="0.01"
            min="0"
          />
          <label class="user-label font-semibold text-lg"
            >Ingrese el monto</label
          >
        </div>

        <!-- MENSAJE ERROR -->
        <div
          *ngIf="checkMount() !== ''"
          class="absolute top-3 end-0 text-sm text-red-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-1 cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <title>{{ checkMount() }}</title>
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
        </div>
      </div>

      <!-- INPUT hour -->
      <div class="input-group relative mb-5">
        <app-time-picker
          (selectedTimeChange)="onTimeSelected($event)"
          class="z-60"
        ></app-time-picker>
      </div>

      <!-- INPUT COMENTARIO -->
      <div class="input-group relative mb-5">
        <div class="w-full">
          <input
            [ngClass]="{ error: hasRequiredError('comment') }"
            formControlName="comment"
            type="text"
            name="text"
            autocomplete="off"
            class="input"
          />
          <label class="user-label font-semibold text-lg">Comentario</label>
        </div>
        <div
          *ngIf="hasRequiredError('comment')"
          class="absolute top-3 end-0 text-sm text-red-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-3 cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <title>Campo obligatorio</title>
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
        </div>
      </div>

      <div class="input-group relative mb-5">
        <label for="frequency" class="block mb-2 font-bold text-white"
          >Frecuencia</label
        >
        <select
          id="frequency"
          class="bg-[#111a3d] border border-white text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          formControlName="frequency"
        >
          <option value="Diariamente">Diariamente</option>
          <option value="Semanalmente">Semanalmente</option>
          <option value="Mensualmente">Mensualmente</option>
          <option value="Anualmente">Anualmente</option>
        </select>
      </div>

      <div class="mt-7">
        <button
          (click)="sendForm()"
          [disabled]="form().invalid || form().get('amount')?.value === 0"
          [title]="
            form().get('categoryID')?.invalid
              ? 'No seleccionó ninguna categoría'
              : ''
          "
          class="bg-white w-full py-3 rounded text-[#0A1232] shadow-xl hover:shadow-inner focus:outline-none transition duration-300 ease-in-out font-semibold transform hover:-translate-x enabled:hover:scale-105 disabled:opacity-75 disabled:cursor-not-allowed"
        >
          Aceptar
        </button>
      </div>

      <p>name: {{ this.form().get("name")?.value }}</p>
      <p>Categoria: {{ this.form().get("categoryID")?.value }}</p>
      <p>Monto: {{ this.form().get("amount")?.value }}</p>
      <p>hora: {{ this.form().get("reminderTime")?.value }}</p>
      <p>Comentario: {{ this.form().get("comment")?.value }}</p>
      <p>Frecuencia: {{ this.form().get("frequency")?.value }}</p>

      <p>formulario invalido: {{ form().invalid }}</p>
    </form>
  </div>
</div>
